<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCwnN16YuhwEWYTGXXRKVBt__dJb5W5pPc</string>
	<key>GCM_SENDER_ID</key>
	<string>270976940682</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.laundryMama.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>laundrywala-f8fa6</string>
	<key>STORAGE_BUCKET</key>
	<string>laundrywala-f8fa6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:270976940682:ios:0a83c7f6e68cfecebecb73</string>
</dict>
</plist>