<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>270976940682-46tuaicsf7kmnd7tqv0cqet9tbbqi6i5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.270976940682-46tuaicsf7kmnd7tqv0cqet9tbbqi6i5</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>270976940682-oagfn15qam461ln8qjhm1jnqv052prfu.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCwnN16YuhwEWYTGXXRKVBt__dJb5W5pPc</string>
	<key>GCM_SENDER_ID</key>
	<string>270976940682</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>personal.laundryMama</string>
	<key>PROJECT_ID</key>
	<string>laundrywala-f8fa6</string>
	<key>STORAGE_BUCKET</key>
	<string>laundrywala-f8fa6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:270976940682:ios:96df894cc2d30be0becb73</string>
</dict>
</plist>